# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

In [10]:
#import libraries 
import pandas as pd
import numpy as np
from sqlalchemy import text,create_engine
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 3000)

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

*FILL IN:*

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

#### **Dataset 1**

Type: Database file

Method:The data was gathered using the "Database file" method from Udacity projects source 

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [16]:
#FILL IN 1st data gathering and loading method
engine=create_engine('sqlite:///us_cunses_data.db')
census_data1=pd.read_sql(text('select * from Census_Data'),con=engine.connect())
census_data1.head()

                                                Fact Fact Note    Alabama   Alaska    Arizona   Arkansas  California   Colorado Connecticut Delaware     Florida     Georgia     Hawaii      Idaho    Illinois    Indiana       Iowa     Kansas   Kentucky  Louisiana      Maine   Maryland Massachusetts   Michigan  Minnesota Mississippi   Missouri    Montana   Nebraska     Nevada New Hampshire New Jersey New Mexico  New York North Carolina North Dakota      Ohio Oklahoma   Oregon Pennsylvania Rhode Island South Carolina South Dakota Tennessee       Texas       Utah  Vermont   Virginia Washington West Virginia  Wisconsin  Wyoming
0       Population estimates, July 1, 2016,  (V2016)      None  4,863,300  741,894  6,931,071  2,988,248  39,250,017  5,540,545   3,576,452  952,065  20,612,439  10,310,371  1,428,557  1,683,140  12,801,539  6,633,053  3,134,693  2,907,289  4,436,974  4,681,666  1,331,479  6,016,447     6,811,779  9,928,300  5,519,952   2,988,726  6,093,000  1,042,520  1,907,116  2,940,058     1,334,795  8,944,469    2081015  19745289       10146788       757952  11614373  3923561  4093465     12784227      1056426        4961119       865454   6651194  27,862,596  3,051,217  624,594  8,411,808  7,288,000     1,831,102  5,778,708  585,501
1  Population estimates base, April 1, 2010,  (V2...      None  4,780,131  710,249  6,392,301  2,916,025  37,254,522  5,029,324   3,574,114  897,936  18,804,592   9,688,680  1,360,301  1,567,650  12,831,574  6,484,136  3,046,869  2,853,129  4,339,344  4,533,479  1,328,364  5,773,786     6,547,813  9,884,129  5,303,924   2,968,103  5,988,928    989,414  1,826,334  2,700,691     1,316,461  8,791,953    2059198  19378110        9535688       672591  11536727  3751615  3831072     12702857      1052940        4625410       814195   6346298  25,146,100  2,763,888  625,741  8,001,041  6,724,545     1,853,011  5,687,289  563,767
2  Population, percent change - April 1, 2010 (es...      None      1.70%    4.50%      8.40%      2.50%       5.40%     10.20%       0.10%    6.00%       9.60%       6.40%      5.00%      7.40%      -0.20%      2.30%      2.90%      1.90%      2.20%      3.30%      0.20%      4.20%         4.00%      0.40%      4.10%       0.70%      1.70%      5.40%      4.40%      8.90%         1.40%      1.70%      0.011     0.019          0.064        0.127     0.007    0.046    0.068        0.006        0.003          0.073        0.063     0.048      10.80%     10.40%   -0.20%      5.10%      8.40%        -1.20%      1.60%    3.90%
3                  Population, Census, April 1, 2010      None  4,779,736  710,231  6,392,017  2,915,918  37,253,956  5,029,196   3,574,097  897,934  18,801,310   9,687,653  1,360,301  1,567,582  12,830,632  6,483,802  3,046,355  2,853,118  4,339,367  4,533,372  1,328,361  5,773,552     6,547,629  9,883,640  5,303,925   2,967,297  5,988,927    989,415  1,826,341  2,700,551     1,316,470  8,791,894    2059179  19378102        9535483       672591  11536504  3751351  3831074     12702379      1052567        4625364       814180   6346105  25,145,561  2,763,885  625,741  8,001,024  6,724,540     1,852,994  5,686,986  563,626
4  Persons under 5 years, percent, July 1, 2016, ...      None      6.00%    7.30%      6.30%      6.40%       6.30%      6.10%       5.20%    5.80%       5.50%       6.40%      6.40%      6.80%       6.00%      6.40%      6.40%      6.70%      6.20%      6.60%      4.90%      6.10%         5.30%      5.80%      6.40%       6.30%      6.10%      6.00%      7.00%      6.30%         4.80%      5.80%      0.062     0.059           0.06        0.073      0.06    0.068    0.058        0.056        0.052          0.059        0.071     0.061       7.20%      8.30%    4.90%      6.10%      6.20%         5.50%      5.80%    6.50%

In [17]:
#shape the data how many rows and columns & display information about dataset missing values,
#incorrect data type and volume of data
print(census_data1.shape)
census_data1.info()

(85, 52)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

#### Dataset 2

Type: CSV File 

Method:The data was gathered using the "Download data manually" method from Udacity projects source 

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [19]:
#FILL IN 2nd data gathering and loading method
census_data2=pd.read_csv('u.s.-census-data.csv')
census_data2.head()

                                                Fact Fact Note    Alabama   Alaska    Arizona   Arkansas  California   Colorado Connecticut Delaware     Florida     Georgia     Hawaii      Idaho    Illinois    Indiana       Iowa     Kansas   Kentucky  Louisiana      Maine   Maryland Massachusetts   Michigan  Minnesota Mississippi   Missouri    Montana   Nebraska     Nevada New Hampshire New Jersey New Mexico  New York North Carolina North Dakota      Ohio Oklahoma   Oregon Pennsylvania Rhode Island South Carolina South Dakota Tennessee       Texas       Utah  Vermont   Virginia Washington West Virginia  Wisconsin  Wyoming
0       Population estimates, July 1, 2016,  (V2016)       NaN  4,863,300  741,894  6,931,071  2,988,248  39,250,017  5,540,545   3,576,452  952,065  20,612,439  10,310,371  1,428,557  1,683,140  12,801,539  6,633,053  3,134,693  2,907,289  4,436,974  4,681,666  1,331,479  6,016,447     6,811,779  9,928,300  5,519,952   2,988,726  6,093,000  1,042,520  1,907,116  2,940,058     1,334,795  8,944,469    2081015  19745289       10146788       757952  11614373  3923561  4093465     12784227      1056426        4961119       865454   6651194  27,862,596  3,051,217  624,594  8,411,808  7,288,000     1,831,102  5,778,708  585,501
1  Population estimates base, April 1, 2010,  (V2...       NaN  4,780,131  710,249  6,392,301  2,916,025  37,254,522  5,029,324   3,574,114  897,936  18,804,592   9,688,680  1,360,301  1,567,650  12,831,574  6,484,136  3,046,869  2,853,129  4,339,344  4,533,479  1,328,364  5,773,786     6,547,813  9,884,129  5,303,924   2,968,103  5,988,928    989,414  1,826,334  2,700,691     1,316,461  8,791,953    2059198  19378110        9535688       672591  11536727  3751615  3831072     12702857      1052940        4625410       814195   6346298  25,146,100  2,763,888  625,741  8,001,041  6,724,545     1,853,011  5,687,289  563,767
2  Population, percent change - April 1, 2010 (es...       NaN      1.70%    4.50%      8.40%      2.50%       5.40%     10.20%       0.10%    6.00%       9.60%       6.40%      5.00%      7.40%      -0.20%      2.30%      2.90%      1.90%      2.20%      3.30%      0.20%      4.20%         4.00%      0.40%      4.10%       0.70%      1.70%      5.40%      4.40%      8.90%         1.40%      1.70%      0.011     0.019          0.064        0.127     0.007    0.046    0.068        0.006        0.003          0.073        0.063     0.048      10.80%     10.40%   -0.20%      5.10%      8.40%        -1.20%      1.60%    3.90%
3                  Population, Census, April 1, 2010       NaN  4,779,736  710,231  6,392,017  2,915,918  37,253,956  5,029,196   3,574,097  897,934  18,801,310   9,687,653  1,360,301  1,567,582  12,830,632  6,483,802  3,046,355  2,853,118  4,339,367  4,533,372  1,328,361  5,773,552     6,547,629  9,883,640  5,303,925   2,967,297  5,988,927    989,415  1,826,341  2,700,551     1,316,470  8,791,894    2059179  19378102        9535483       672591  11536504  3751351  3831074     12702379      1052567        4625364       814180   6346105  25,145,561  2,763,885  625,741  8,001,024  6,724,540     1,852,994  5,686,986  563,626
4  Persons under 5 years, percent, July 1, 2016, ...       NaN      6.00%    7.30%      6.30%      6.40%       6.30%      6.10%       5.20%    5.80%       5.50%       6.40%      6.40%      6.80%       6.00%      6.40%      6.40%      6.70%      6.20%      6.60%      4.90%      6.10%         5.30%      5.80%      6.40%       6.30%      6.10%      6.00%      7.00%      6.30%         4.80%      5.80%      0.062     0.059           0.06        0.073      0.06    0.068    0.058        0.056        0.052          0.059        0.071     0.061       7.20%      8.30%    4.90%      6.10%      6.20%         5.50%      5.80%    6.50%

In [21]:
#shape the data how many rows and columns & display information about dataset missing values,
#incorrect data type and volume of data
print(census_data2.shape)
census_data2.info()

(85, 52)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

#### Dataset 3

Type: CSV File

Method:The data was gathered using the "Download data manually" method from Udacity projects source

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [11]:
#FILL IN 3rd data gathering and loading method
gun_data=pd.read_csv('gun_data.csv')
gun_data.head()

     month       state   permit  permit_recheck  handgun  long_gun   other  multiple  admin  prepawn_handgun  prepawn_long_gun  prepawn_other  redemption_handgun  redemption_long_gun  redemption_other  returned_handgun  returned_long_gun  returned_other  rentals_handgun  rentals_long_gun  private_sale_handgun  private_sale_long_gun  private_sale_other  return_to_seller_handgun  return_to_seller_long_gun  return_to_seller_other  totals
0  2017-09     Alabama  16717.0             0.0   5734.0    6320.0   221.0       317    0.0             15.0              21.0            2.0              1378.0               1262.0               1.0               0.0                0.0             0.0              0.0               0.0                   9.0                   16.0                 3.0                       0.0                        0.0                     3.0   32019
1  2017-09      Alaska    209.0             2.0   2320.0    2930.0   219.0       160    0.0              5.0               2.0            0.0               200.0                154.0               2.0              28.0               30.0             0.0              0.0               0.0                  17.0                   24.0                 1.0                       0.0                        0.0                     0.0    6303
2  2017-09     Arizona   5069.0           382.0  11063.0    7946.0   920.0       631    0.0             13.0               6.0            0.0              1474.0                748.0               3.0              82.0                5.0             0.0              0.0               0.0                  38.0                   12.0                 2.0                       0.0                        0.0                     0.0   28394
3  2017-09    Arkansas   2935.0           632.0   4347.0    6063.0   165.0       366   51.0             12.0              13.0            0.0              1296.0               1824.0               4.0               0.0                0.0             0.0              0.0               0.0                  13.0                   23.0                 0.0                       0.0                        2.0                     1.0   17747
4  2017-09  California  57839.0             0.0  37165.0   24581.0  2984.0         0    0.0              0.0               0.0            0.0               535.0                397.0               5.0               0.0                0.0             0.0              0.0               0.0                   0.0                    0.0                 0.0                       0.0                        0.0                     0.0  123506

#### Dataset 4

Type: CSV File 

Method: *FILL IN* (e.g., The data was gathered using the "API" method from Y source.)

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [ ]:
#FILL IN 4rth data gathering and loading method

In [ ]:
#Optional: store the raw data in your local data store

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Tidiness Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

### Quality Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Quality Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [ ]:
# FILL IN - Apply the cleaning strategy

In [ ]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [1]:
#FILL IN - Apply the cleaning strategy

In [2]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN